* {
    border-radius: 0px;
}

window.bar {
    background-color: @theme_bg_color;
    color: @theme_fg_color;
}

button {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    background-color: transparent;
}

button:active {
    background-color: @theme_selected_bg_color;
}

button:hover {
    border-bottom: 1px solid @theme_fg_color;
}

label {
    font-weight: bold;
}

.workspaces button.focused {
    border-bottom: 1px solid @theme_selected_bg_color;
}

.client-title {
    color: @theme_selected_bg_color;
}

.notification {
    color: yellow;
}


.workspace-buttons {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    outline-width: 0;
    border: none;
    background-color: transparent;
}

.workspace-inactive {
  opacity: 0.5;
  border-bottom: 3px transparent;
}

.workspace-occupied {
  opacity: 1;
  border-bottom: 3px transparent;
}

.workspace-active {
  outline-width: 0;
  border-bottom: 3px solid @theme_selected_bg_color;
}

levelbar block,
highlight {
    min-height: 10px;
}
