* {
    border-radius: 0px;
}

window.bar {
    /* background-color: @theme_bg_color; */
    background: rgba(0, 0, 0, .1);
    color: @theme_fg_color;
    min-height: 4rem;
}

button {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    background-color: transparent;
    border-bottom: 3px solid transparent;
}

button:active {
    background-color: @theme_selected_bg_color;
}

button:hover {
  /* border-bottom: 1px solid @theme_fg_color; */
}

label {
    font-weight: bold;
}

.workspaces button.focused {
    border-bottom: 1px solid @theme_selected_bg_color;
}

.client-title {
    color: @theme_selected_bg_color;
}

.notification {
    color: yellow;
}


.workspace-indicator {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    background-color: transparent;
}

.workspace-indicator button.focused {
    border-bottom: 3px solid @theme_selected_bg_color;
}


.workspace-inactive {
  opacity: 0.5;
  border-bottom: 3px transparent;
}

.workspace-occupied {
  opacity: 1;
  border-bottom: 3px transparent;
}

.workspace-active {
    border-bottom: 3px solid @theme_selected_bg_color;
}

levelbar block,
highlight {
    min-height: 10px;
}
