* {
  font-size: 14px;
  font-family: "JetBrainsMono NF";
  border-radius: 0px;
}

window#waybar {
    background: #000000;
    color: #ffffff;
}

#workspaces,
#clock,
#backlight,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray {
    background: #303957;
}

#workspaces button {
  padding: 0 2px;
  color: #ffffff;
  border-bottom: 3px solid transparent;
}

#workspaces button.active{
    color: #44E141;
    border-bottom: 3px solid #44E141;
}
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}
#workspaces button:hover {
  background: #1a1a1a;
  border: #1a1a1a;
  padding: 0 3px;
}

#clock {
    color: #E2C448;
}

#pulseaudio {
    color: #B2ADBD;
}
#memory {
    color: #444ACB;
}
#cpu {
    color: #6c71c4;
}
#battery {
    color: #0267CC;
}
#disk {
    color: #0E4D8D;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
  padding: 0 10px;
}
