* {
  font-size: 14px;
  font-family: "JetBrainsMono NF";
  border-radius: 0px;
}

window#waybar {
    background: #272c31;;
    color: #dce1f2;
}

#workspaces,
#clock,
#backlight,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray {
    background: #B2ADBD;
}

#workspaces button {
  padding: 0 2px;
  color: #ffffff;
  border-bottom: 3px solid transparent;
}

#workspaces button.active{
    color: #CFAD94;
    border-bottom: 3px solid #CFAD94;
}
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}
#workspaces button:hover {
  background: #1a1a1a;
  border: #1a1a1a;
  padding: 0 3px;
}

#clock {
    color: #E5C9AF;
}

#pulseaudio {
    color: #96AAEC;
}
#memory {
    color: #A7B6E8;
}
#cpu {
    color: #B9C6F1;
}
#battery {
    color: #dce1f2;
}
#disk {
    color: #9a9da9;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
  padding: 0 10px;
}
