* {
  font-size: 14px;
  font-family: "JetBrainsMono NF";
  border-radius: 0px;
}

window#waybar {
  background: #1c4ac2;
  color: #fdf6e3;
}

#workspaces,
#clock,
#backlight,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray {
  background: #222222;
}

#workspaces button {
  padding: 0 2px;
  color: rgb(255, 255, 255, 0.25);
  border-bottom: 3px solid transparent;
}

#workspaces button.active{
    color: #268bd2;
    border-bottom: 3px solid #194198;
}
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}
#workspaces button:hover {
  background: #1a1a1a;
  border: #1a1a1a;
  padding: 0 2px;
}

#pulseaudio {
  color: #268bd2;
}
#memory {
  color: #2aa198;
}
#cpu {
  color: #6c71c4;
}
#battery {
  color: #859900;
}
#disk {
  color: #b58900;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
  padding: 0 10px;
}
